<section class="relative mt-18 bg-[#773fe7ec] min-h-[90vh] pb-2 flex flex-col justify-center items-center text-center px-6">
  <h1 class="text-2xl md:text-7xl font-serif italic font-extrabold text-white drop-shadow-lg max-w-4xl leading-tight">
    Meet, Connect & Grow <br class="hidden sm:block" /> with Meetingo
  </h1>
  <p class="mt-6 text-md leading-4 md:text-xl max-w-3xl text-white/90 font-medium">
    The only platform you need to grow your community and connect seamlessly.
  </p>

  <div class="mt-3 mb-3 flex space-x-6 justify-center">
    <button
      class="bg-white text-[#773fe7e] md:px-8 md:py-3 px-3 py-2 md:text-lg text-sm rounded-full font-semibold shadow-lg hover:bg-purple-100 transition"
    >
    <a href="/signin">

        Get Started
    </a>
    </button>
    <button
      class="border border-white text-white md:px-8 md:py-3 px-3 py-2 md:text-lg text-sm rounded-full font-semibold shadow-lg hover:bg-white hover:text-black transition"
    >
    <a href="#features">

        Learn More
    </a>
    </button>
  </div>

  <img
    src="/images/hero1.png"
    alt="Video Meeting UI"
    class="mt-1 max-w-full max-h-[400px] rounded-3xl shadow-2xl  object-contain"
  />
</section>
