<nav class="bg-[#5e2dbf51] backdrop-blur-xl w-screen fixed top-[0.01px] pt-2 z-[100] shadow-md">
  <div class="max-w-7xl mx-auto px-6 py-4 flex justify-between items-center">
    <a href="#"  class="text-white font-extrabold md:text-3xl text-xl  tracking-wide hover:text-purple-300 transition">
      Meetingo
    </a>
    <div class="space-x-8 hidden md:flex">
      <a href="#features" class="text-white hover:text-purple-300 font-medium transition">Features</a>
      <a href="#how-it-works" class="text-white hover:text-purple-300 font-medium transition">How it Works</a>
      <a href="#contact" class="text-white hover:text-purple-300 font-medium transition">Contact</a>
    </div>
    <button
      class="bg-white text-[#5e2dbf] px-5 py-2 rounded-lg font-semibold shadow hover:bg-purple-100 transition"
    >
     <a href="/signin">
         Sign In
    </a> 
    </button>
  </div>
</nav>