<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meetingo</title>
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
    <div class="w-[100vw] h-screen bg-[#2b1aa722] flex  items-center justify-center">
        <div class="w-[90%] shadow-xl inset-2 bg-white">
            <div class="w-1/2 h-2/3 bg-white rounded-lg "></div>
        

    </div>

        </div>
</body>
</html>