<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/index.css">
</head>
<body class="bg-[#773fe7ec]  w-[100vw] h-screen grid place-items-center">

<nav class="bg-[#5e2dbf51] backdrop-blur-xl w-screen fixed top-[0.01px] pt-2 z-[100] shadow-md">
  <div class="max-w-7xl mx-auto px-6 py-4 flex justify-between items-center">
    <a href="/intro"  class="text-white font-extrabold md:text-3xl text-xl  tracking-wide hover:text-purple-300 transition">
      Meetingo
    </a>
   <div class="md:flex hidden gap-3">
  <button
      class="bg-white text-[#5e2dbf] px-5 py-2 rounded-lg font-semibold shadow hover:bg-purple-100 transition"
    >
     <a href="/create">
         Create Meet+
    </a> 
    </button>
       <button
      class="bg-[#5e2dbf] hover:text-[#5e2dbf]  text-white px-5 py-2 rounded-lg font-semibold shadow hover:bg-purple-100 transition"
    >
     <a href="/join">
        Join meet+
    </a> 
    </button>
   </div>
  
  </div>
</nav>
   <div class="flex flex-wrap  gap-3">
  <button  id="newmeet"
      class="bg-white text-[#5e2dbf] px-5 py-2 rounded-lg font-semibold shadow hover:bg-purple-100 transition"
    >
  
         Create Meet+
    </button>
       <button
      class="bg-[#5e2dbf] hover:text-[#5e2dbf]  text-white px-5 py-2 rounded-lg font-semibold shadow hover:bg-purple-100 transition"
    >
   
        Join meet+
    
    </button>
   </div>
  
   <script src="javascript/main.js"></script>
</body>
</html>