<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
    <div class="grid maindiv w-screen grid-cols-4">
        <video class="mystream w-full" src="">

        </video>

    </div>
    
    
    
<script src="https://cdn.socket.io/4.4.0/socket.io.min.js" integrity="sha384-..." crossorigin="anonymous"></script>
<script src="https://unpkg.com/peerjs@1.5.4/dist/peerjs.min.js"></script>
<script>
  const id = <%- JSON.stringify(id) %>;
   const host = <%- JSON.stringify(host) %>;
</script>
    <script type="module" src="/javascript/meeting.js"></script>
</body>
</html>